.switch-language {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  
  &__language {
    padding: 5px;
    margin: 5px;
    cursor: pointer;

    &:not(:first-child) {
      border-right: 1px solid black;
    }    
  }
}
