.calculation-card {
  @extend %card;

  &__header {
    @extend %card__header;
  }

  &__content {
    @extend %card__content;

    &__result {
      display: flex;
      justify-content: center;

      &__sign, &__number {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.250em;
        font-weight: bolder;
      }

      &__sign {
        margin: 0 0 45px 0;
      }
    }
  }

  &__actions {
    @extend %card__actions;

    &__button {
      @extend %card__actions__button;
    }
  }
}
