.sidebar {
  position: absolute;
  z-index: 999999;
  right: 0;
  top: 55px;
  width: 150px;
  height: 100%;
  transform: translateX(150px);

  &--active {
    transform: translateX(0px);
  }

  &--left {
    left: 0;
  }
}

