.sidebar {
  position: absolute;
  z-index: 999999;
  right: 0;
  top: 55px;
  display: none;
  width: 150px;
  height: 100%;
  padding: 0 20px;
  transform: translateX(150px);
  transition: transform 5s ease;

  &__close {
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
    height: 10px;
    cursor: pointer;
  }

  &__navigation {
    margin: 20px 0;

    &__list {
      padding: 10px 0;

      &__item {
        padding: 5px 0;
        margin: 6px 0;
      }
    }
  }

  &--active {
    display: block;
    transform: translateX(0px);
  }

  &--left {
    left: 0;
  }

}
