.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 50px;
}

@media (max-width: $mobile-breakpoint) {
  .header {
    padding: 0 20px;

    &__logo {
      flex: 1;
      text-align: center;
    }
  }
}
