$primary-color: #FFEB3B;
$dark-primary-color: #FBC02D;
$light-primary-color: #FFF9C4;

$accent-color: #448AFF;
$accent-color-hover: #77a7f7;

$font-color: #212121;
$secondary-font-color: #757575;
$white-font: #fff;

$button-active-border: 1px solid $light-primary-color; 

$border-color: #BDBDBD;
