%button {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  border-radius: 2px;
  border: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}