$primary-color: #FFEB3B;
$dark-primary-color: #FBC02D;
$light-primary-color: #FFF9C4;

$font-color: #212121;
$secondary-font-color: #757575;
$accent-color: #448AFF;

$border-color: #BDBDBD;

$mobile-breakpoint: 800px;
